<div class="fixture-flex-container">
    {{#each fixtures}}

    <div class="fixture" id="{{fixture_id}}">
        <div class="fixture-headings">
            <span slot="game-letter">🔷{{fixture_id}}</span>
            <span class="fixture-head">{{fixtures_round}}</span>
            <span class="fixture-date">📆{{fixture_date}}</span>
            <span class="fixture-time">⏰{{fixture_time}}</span>
        </div>

        <div class="teams teams-flex-container">
            <div class="teams-home"><span class="team-name">{{fixture_team_home_name}}</span>
                <div class="scores-home">
                    <img class="team-logo" src="https://media.api-sports.io/football/teams/{{fixture_team_home_id}}.png" alt="">
                    {{fixture_goals_home}}
                </div>
            </div>
            <div class="teams-home">{{fixture_team_away_name}}
                <div class="scores-home">{{fixture_goals_home}}
                    <img class="team-logo" src="https://media.api-sports.io/football/teams/{{fixture_team_away_id}}.png" alt="">
                    
                </div>
            </div>
        </div>
        <div class="fixture-footer">
            <span class="fixture-footer-status">Status: <span class="fixture-status">{{fixture_status}}</span></span>
            {{!-- TODO: Add bet result from database here. If there is no result and the match hasn' started it should be a place bet button --}}
            {{!-- Is there an easy way to check if the user has placed a bet on the fixture? Is the database set up correctly for that? --}}
            <span class="fixture-time">Bet Result: None</span>
            {{!-- This hidden stuff was silly and not user friendly --}}
            {{!-- <span class="fixture-expand" onclick="expandFixture()">+</span> --}}
        </div>
    </div>



    {{!-- <fixture-football id="{{fixture_id}}">
        <span slot="game-letter">{{fixture_id}}</span>
        <span slot="game-date">{{fixture_date}}</span>
        <span slot="game-time">{{fixture_time}}</span>
        <span slot="game-home-name">{{fixture_team_home_name}}</span>
        <span slot="game-away-name">{{fixture_team_away_name}}</span>
        <span slot="scores-home-number">{{fixture_goals_home}}
            <img class="team-logo" src="https://media.api-sports.io/football/teams/{{fixture_team_home_id}}.png" alt="">
        </span>
        <span slot="scores-away-number">{{fixture_goals_away}}
            <img class="team-logo" src="https://media.api-sports.io/football/teams/{{fixture_team_away_id}}.png" alt="">
        </span>
        <span slot="fixture-status">{{fixture_status}}</span>
        <span slot="fixture-bet-result">Test Bet</span>
    </fixture-football> --}}



    {{else}}
    <p>No fixtures to display</p>
    {{/each}}
</div>
</div>