<h1>Dashboard View</h1>
<p>Welcome {{name}}</p>
<a href="/">Home</a>


// todo style the rounds list or create a drop down or slider
// todo create a route for each round and make the list a link to that round to display all fixtures for that round
{{#if rounds}}
  <div>
      <ul>
      {{#each rounds}}
       <li><a href="/fixtures/round/{{this}}">{{this}}</a></li>
        {{/each}}
        </ul>
  </div>
  {{else}}
<p>no rounds?</p>
{{/if}}
<p>Here are your bets.</p>

<fixture-football>
    <span slot="game-letter">ZZZ</span>
    <span slot="game-date">26/12/2021</span>
    <span slot="game-time">11:00</span>
    <span slot="game-home-name">Munderlandino Home</span>
    <span slot="game-away-name">The Away Team</span>
    <span slot="scores-home-number">54</span>
    <span slot="scores-away-number">59</span>
    <span slot="fixture-status">Test3</span>
    <span slot="fixture-bet-result">Test3 Bet</span>
  </fixture-football>

  
{{!-- todo change this to bets --}}
{{#if bets}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{!-- todo change this to bets --}}
        {{#each bets}}
        <tr>
            {{!-- todo change this to bets --}}
            <td><a href="/stories/{{_id}}">{{fixtureID}}</a></td>
            <td>{{formatDate createdAt 'Do MMMM YYYY, h:mm a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/stories/edit/{{_id}}" class="btn-float">
                    <i class="fas fa-edit"></i>
                </a>
                {{!-- todo change this to bets --}}
                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
            </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have no bets</p>
{{/if}}
<h1>Fixtures</h1>
{{> _fixtures}}