<h1>Dashboard View</h1>
<p>Welcome {{name}}</p>
<a href="/">Home</a>
<p>Here are your bets.</p>

{{!-- todo change this to bets --}}
{{#if bets}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{!-- todo change this to bets --}}
        {{#each bets}}
        <tr>
            {{!-- todo change this to bets --}}
            <td><a href="/stories/{{_id}}">{{fixtureID}}</a></td>
            <td>{{formatDate createdAt 'Do MMMM YYYY, h:mm a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/stories/edit/{{_id}}" class="btn-float">
                    <i class="fas fa-edit"></i>
                </a>
                {{!-- todo change this to bets --}}
                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
            </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have no bets</p>
{{/if}}
<h1>Fixtures</h1>
{{> _fixtures}}